<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GlmSharp" version="0.9.8" targetFramework="net47" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.0" targetFramework="net47" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net47" />
  <package id="Remotion.Linq" version="2.0.2" targetFramework="net47" />
  <package id="SharpVk" version="0.4.0-dev3" targetFramework="net47" />
  <package id="SharpVk.Shanq" version="0.4.0-dev3" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.3.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net47" />
</packages>